@model IEnumerable<MEGATECH.Models.EF.ProductCategory>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<style>
    * {
        font-family: Roboto;
    }
</style>
@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>SẢN PHẨM TẠI MEGATECH</h2>
            </div>
        </div>
    </div>
    <div class="align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                    <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                    @foreach (var item in Model)
                    {
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".@item.Alias">@item.Title</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                    @Html.Action("Partial_ItemsByCateId", "Products")
                </div>

            </div>
        </div>
    </div>

}
