@model IEnumerable<MEGATECH.Models.EF.NhaCungCap>

@if (Model != null && Model.Any())
{

    <ul class="sidebar_categories">
        @foreach (var item in Model)
        {
            if (ViewBag.SupplierID == item.MaNhaCungCap)
            {
                <li class="active"><a href="/nha-cung-cap/@item.Alias-@(item.MaNhaCungCap)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>
            }
            else
            {
                <li><a href="/nha-cung-cap/@item.Alias-@(item.MaNhaCungCap)">@item.Title</a></li>
            }
        }
    </ul>
}

